@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');


.infoBoxWrapper {
    position: absolute;
    background-color: #101010;
    color: white;
    padding: 15px;
    border-radius: 10px;
    pointer-events: none;
    display: none;
    z-index: 10;
    font-size: 12px;
    border: 2px solid #FF6A6A;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    width: 200px;
}

.infoBoxItem {
    margin-bottom: 10px;
    display: flex;
    flex-direction: columns;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fieldLabel {
    font-size: 12px;
    color: #FF6A6A; /* Red color for the field name */
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: 'Oxanium', sans-serif;
}

.fieldValue {
    font-size: 16px;
    color: #E0E0E0; /* Lighter color for the field value */
    font-weight: normal;
    font-family: 'Oxanium', sans-serif;
}


.loadingPage {
    /* make it gray and it should fill the whole screen with pos absolute */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}


.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #101010;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.claim-result {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #101010;
  animation: fadeOut 4s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}








.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin:15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #FFF;
    border-radius: 50%;
    animation: animloader 1s infinite ease-in-out;
  }
  .loader::before {
    background-color: #FF6A6A;
    transform: scale(0.5) translate(-48px, -48px);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes animloader {
      50% {
        transform: scale(1) translate(-50%, -50%);
  }
  }
      